@import "tailwindcss";

@import "./typography.css";
@import "./motion.css";

:root {
  /* رنگ زرد خردلی دیوار برای پس‌زمینه کل اپ */
  --primary-bg-color: #D2993B;
  
  /* رنگ بنفش تیره تابلو برای المان‌های اصلی */
  --primary-accent-color: #4B2C5E;
  
  /* رنگ متن تیره برای خوانایی روی زرد */
  --text-main-color: #2D1A39;
}

body {
  background-color: #ffd6a0;
  color: var(--text-main-color);
  margin: 0;
  font-family: sans-serif; /* یا فونت دلخواه شما */
}